body {

}

/* NAV */
nav {
  background-color: lightblue;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between ;
  align-items: center;
}

.logo {
 background-color: lightgreen;
 width: 300px;
 height: 130px;

}

.logo>img {
  width: 80px;

}

.logo>h1 {
  background-color: pink;
  float: right;
  
}

.logo>p {
  background-color: yellow;
  float: right;
  padding: 10px;
}

.social {
  width: 200px;
  height: 200px;
  background-color: purple;

}


h2 {
  font-style: normal;
  font-size: large;

}

h3 {
  font-size: smaller;
}

.print {
  background-color: lightgreen;
  float: right;
}

.p {
  background-color: lightseagreen;
  text-size-adjust: inherit ;
}









/* div container with the list background */
.list {
  background-image: url('img/list-bg.png');
  width: 80%;
  height: 300px;
}
